body {
    font-family: Arial, sans-serif;
}

.goHome {
    font-size: 10pt;
    margin: 10px 5px;
}

.inputWrapper {
    margin: auto;
    width: 260px;
    margin-top: 100px;
}

input#searchInput {
    width: 230px;
    outline: none;
    border: solid 1px Silver;
    height: 16px;
    line-height: 16px;
    padding: 1px;
    margin: 0;
    padding-right: 20px;
}

.x {
    width: 10px;
    height: 10px;
    margin-left: -15px;
    cursor: pointer;
}