table {
    border : 1px solid black;
    border-collapse: collapse;
    font-size: 5vh;
}

td{
    border: 1px solid black;
    width:5vw;
}

input {
    width:5vw;
    height: 4.5vh;
    font-size: 4.5vh;
}